<!-- <div class="col-md-4" *ngFor="let registro of registros">
    <div class="card text-center">
        <div class="card-header d-flex justify-content-between">
            {{registro.title}}
        </div>
        <button class="btn-danger btn-block btn" (click)="deleteRegistro(registro.id)">
            Eliminar
        </button>

        <button class="btn-success btn-block btn" [routerLink]="['/registros/edit',registro.id]">
            Editar
        </button>
    </div>
</div> -->

<div class="alert alert-danger" role="alert" *ngIf="(registros.length) == 0">
    No hay ningun dato registrado
  </div>