<div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col">
        <div class="card">
        <div class="card-body">
            <button class="btn-warning btn-block btn" routerLink="/registros/pais">Registrar pais</button> 
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
        <div class="card-body">
            <button class="btn-warning btn-block btn" routerLink="/registros/registrarciudad">Registrar ciudad</button> 
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
        <div class="card-body">
            <button class="btn-warning btn-block btn" routerLink="/registros/registrarclub">Registrar Club</button> 
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
        <div class="card-body">
            <button class="btn-warning btn-block btn" routerLink="/registros/intereses">Registrar Intereses de un Club</button> 
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
        <div class="card-body">
            <button class="btn-warning btn-block btn" routerLink="/registros/contactos">Registrar Contactos de un Club</button> 
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
        <div class="card-body">
            <button class="btn-warning btn-block btn" routerLink="/registros/registrarrepresentante">Registrar Representante</button> 
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
        <div class="card-body">
            <button class="btn-warning btn-block btn" routerLink="/registros/registrarcoleccionista">Registrar Coleccionista</button> 
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
        <div class="card-body">
            <button class="btn-warning btn-block btn" routerLink="/registros/registrarmembresia">Registrar Membresia</button> 
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
        <div class="card-body">
            <button class="btn-warning btn-block btn" routerLink="/registros/cerrarmembresia">Cerrar Membresia</button> 
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
        <div class="card-body">
            <button class="btn-warning btn-block btn" routerLink="/registros/objetovalor">Registrar Objeto de valor</button> 
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
        <div class="card-body">
            <button class="btn-warning btn-block btn" routerLink="/registros/comic">Registrar Comic</button> 
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
        <div class="card-body">
            <button class="btn-warning btn-block btn" routerLink="/registros/organizacion">Registrar Organizacion de caridad</button> 
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
        <div class="card-body">
            <button class="btn-warning btn-block btn" routerLink="/registros/lugares">Registrar Lugar para una subasta</button> 
        </div>
        </div>
    </div>
</div>