<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <button class="btn-success btn-block btn" routerLink="/registros/pais">
                            Registrar pais
                        </button> 
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <button class="btn-success btn-block btn" routerLink="/registros/registrarciudad">
                            Registrar ciudad
                        </button> 
                    </div>
                </form>
            </div>
        </div>

            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <button class="btn-success btn-block btn" routerLink="/registros/registrarclub">
                                Registrar Club
                            </button> 
                        </div>
                    </form>
                </div>
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <button class="btn-success btn-block btn" routerLink="/registros/intereses">
                                    Registrar Intereses de un Club
                                </button> 
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <button class="btn-success btn-block btn" routerLink="/registros/contactos">
                                    Registrar Contactos de un Club
                                </button> 
                            </div>
                        </form>
                    </div>
                </div>

            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <button class="btn-success btn-block btn" routerLink="/registros/registrarrepresentante">
                                Registrar Representante
                            </button> 
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <button class="btn-success btn-block btn" routerLink="/registros/registrarcoleccionista">
                                Registrar Coleccionista
                            </button> 
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <button class="btn-success btn-block btn" routerLink="/registros/registrarmembresia">
                                Registrar Membresia
                            </button> 
                        </div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <button class="btn-success btn-block btn" routerLink="/registros/cerrarmembresia">
                                Cerrar Membresia
                            </button> 
                        </div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <button class="btn-success btn-block btn" routerLink="/registros/objetovalor">
                                Registrar Objeto de valor
                            </button> 
                        </div>
                    </form>
                </div>
            </div>
            

            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <button class="btn-success btn-block btn" routerLink="/registros/comic">
                                Registrar Comic
                            </button> 
                        </div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <button class="btn-success btn-block btn" routerLink="/registros/organizacion">
                                Registrar Organizacion de caridad
                            </button> 
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>