<div class="col-md-4" *ngFor="let game of games">
    <div class="card text-center">
        <div class="card-header d-flex justify-content-between">
            {{game.title}}
        </div>
        <div class="card-body">
            {{game.description}}
        </div>
        <button class="btn-danger btn-block btn" (click)="deleteGame(game.id)">
            Eliminar
        </button>

        <button class="btn-success btn-block btn" [routerLink]="['/games/edit',game.id]">
            Editar
        </button>
    </div>
</div>