<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input type="text" name='title' [(ngModel)]="game.title" placeholder="Title" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <textarea name="description" placeholder="Description" [(ngModel)]="game.description" class="form-control" rows="2"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="url" name='image' placeholder="Image" [(ngModel)]="game.image"  class="form-control" autofocus>
                    </div>
                    <button class="btn-success btn-block btn" (click)="saveNewGame()">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>