<div class="container">
    <!-- subastaRegistrar ={




        cancelada:'',
        id_lugar:null
    CONSTRAINT modo_subasta CHECK (modo in ('PRE','VIR')),
    CONSTRAINT tipo_subasta CHECK (tipo in ('A','S')),
    CONSTRAINT caridad_subasta CHECK (caridad in ('SI','NO')),
    CONSTRAINT subasta_cancelada CHECK (cancelada in ('SI','NO'))
      } -->

INGRESE LOS DATOS PARA EL EVENTO:
<br>
<br>
HORA DE INICIO:
<input type="time"  class="form-control" [(ngModel)]='subastaRegistrar.hora_inicio'>
HORA DE FIN:
<input type="time"  class="form-control" [(ngModel)]='subastaRegistrar.hora_fin'>
FECHA: 
<input type="date"  class="form-control" [(ngModel)]='subastaRegistrar.fecha'>
ES DE CARIDAD
<select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]='subastaRegistrar.caridad'>
<option value="SI"> SI </option>
<option value="NO"> NO </option>
</select>

TIPO DE EVENTO:
<p *ngIf="subastaRegistrar.caridad == 'SI'"  > SUBASTA SILENCIOSA</p>
<p *ngIf="subastaRegistrar.caridad == 'NO'" >SUBASTA ASCENDENTE</p>


<br>

MODO
<select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]='subastaRegistrar.modo'>
<option value="PRE"> PRESENCIAL </option>
<option value="VIR"> VIRTUAL </option>
</select>
<div *ngIf="subastaRegistrar.modo == 'PRE'">
Direccion: 

<select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]='subastaRegistrar.id_lugar'>
<option value="{{ lugar.id }}" *ngFor="let lugar of lugares">NOMBRE: {{ lugar.nombre_lugar }} DIR: {{ lugar.calle }}, {{ lugar.avenida }}</option>
</select>
</div>
<button class="btn-success btn-block btn" (click)=registrarEvento()>
    REGISTRAR EVENTO
</button>

<br>


<!-- todo esto se activa luego de registrada la subasta. -->
<!-- SELECCIONAR CLUB ORGANIZADOR: 

<select class="form-select form-select-sm" aria-label=".form-select-sm example" >
    <option *ngFor="let club of clubes" value="">NOMBRE: {{ club.nombre }}</option>
</select>

<button class="btn-success btn-block btn">
    REGISTRAR ORGANIZADOR
</button>

<br>
<br>

SELECCIONAR OBJETO DE VALOR A SUBASTAR: 

<select class="form-select form-select-sm" aria-label=".form-select-sm example" >
    <option *ngFor="let objeto of objetosDeValor" value="">NOMBRE: {{ objeto.nombre }} DESCRIPCION: {{ objeto.descripcion }}</option>
</select>

<button class="btn-success btn-block btn">
    REGISTRAR OBJETO
</button>
<br>
<br>
SELECCIONAR COMIC A SUBASTAR: 

<select class="form-select form-select-sm" aria-label=".form-select-sm example" >
    <option value="">NOMBRE:</option>
</select>
<button class="btn-success btn-block btn">
    REGISTRAR COMIC
</button>

<br>
<br>

SELECCIONAR CLUB A INVITAR: 

<select class="form-select form-select-sm" aria-label=".form-select-sm example" >
    <option *ngFor="let club of clubes" value="">NOMBRE: {{ club.nombre }}</option>
</select>

<button class="btn-success btn-block btn">
    REGISTRAR INVITACION
</button>

<br>
<br>

INSCRIBIR A PARTICIPANTE: 

<select class="form-select form-select-sm" aria-label=".form-select-sm example" >
    <option *ngFor="let club of clubes" value="">NOMBRE: {{ club.nombre }}</option>
</select>

<button class="btn-success btn-block btn">
    REGISTRAR PARTICIPANTE
</button> -->





</div>