<div class="row row-cols-1 row-cols-md-3 g-4">

<div class="col">
    <div class="card">
    <div class="card-body text-center">
        <button class="btn-warning btn-block btn" routerLink="/calendario">Ver Calendario de subastas</button> 
    </div>
    </div>
</div>

<div class="col">
    <div class="card">
    <div class="card-body text-center">
        <button class="btn-warning btn-block btn" routerLink="/registros/subasta">Registrar nueva subasta</button>  
    </div>
    </div>
</div>

<div class="col">
    <div class="card">
    <div class="card-body text-center">
        <button class="btn-warning btn-block btn" routerLink="/listasimular">Simular Subastas</button> 
    </div>
    </div>
</div>



</div>


