<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
            <div class="form-group">
                <input type="number" [(ngModel)]="coleccionista.cedula"  placeholder="Cedula del coleccionista" class="form-control">
                <input type="text" [(ngModel)]="coleccionista.nombre_1"  placeholder="Primer nombre del coleccionista" class="form-control" autofocus>
                <input type="text" [(ngModel)]="coleccionista.apellido1"  placeholder="Primer apellido del coleccionista" class="form-control" autofocus>

                <input type="text" [(ngModel)]="coleccionista.apellido2"  placeholder="Segundo apellido del coleccionista" class="form-control" autofocus>

                <input type="text" [(ngModel)]="coleccionista.telefono"  placeholder="Telefono del coleccionista" class="form-control" autofocus>
                fecha nacimiento:
                <br>
                <input id="date" type="date" [(ngModel)]="coleccionista.fecha_nacimiento" >
                <br>
                ciudad de residencia:
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="coleccionista.id_ciudad" >
                    <option value="{{ ciudad.id_ciudad }}" *ngFor="let ciudad of arrayCiudades2">{{ ciudad.nombre_ciudad }}, {{ ciudad.nombre_pais}}</option>
                </select>
                <br>
                Pais de Nacimiento:
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="coleccionista.id_pais_nac" >
                    <option  value="{{ pais['id'] }}" *ngFor="let pais of paises">{{ pais['nombre'] }}</option>
                </select>

                <input type="text" [(ngModel)]="coleccionista.nombre2"  placeholder="Segundo Nombre del coleccionista" class="form-control" autofocus>

                <input type="text" [(ngModel)]="coleccionista.cedula_representante "  placeholder="Cedula del representante coleccionista (si es coleccionista tambien)" class="form-control" >
                <input type="text" [(ngModel)]="coleccionista.id_representante  "  placeholder="Id del representante coleccionista (si no coleccionista)" class="form-control">

            </div>

            <button class="btn-success btn-block btn" (click)=registrarColeccionista()>
                Guardar
            </button>
        </div>
    </div>
</div>


